# /etc/systemd/system/infobeamer-cms.service
[Unit]
Description=infobeamer-cms - upload custom info pages to info-beamer
After=network.target

[Service]
Type=exec
Environment=SETTINGS=settings.cfg
Restart=always
RestartSec=5s
ExecStart=/usr/bin/gunicorn frontend:app -b 127.0.0.1:8000 -w 4 -t 120 -k gevent --max-requests=1000

# You may have to adjust these settings
User=infobeamer-cms
Group=infobeamer-cms
WorkingDirectory=/opt/infobeamer-cms

[Install]
WantedBy=multi-user.target

