# /etc/systemd/system/infobeamer-cms-runperiodic.service
[Unit]
Description=infobeamer-cms sync
After=network.target
Requires=infobeamer-cms.service

[Service]
User=infobeamer-cms
Group=infobeamer-cms
WorkingDirectory=/opt/infobeamer-cms
ExecStart=/opt/infobeamer-cms/.venv/bin/python syncer.py
