{% extends "layout.jinja" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
  <h1>
    Your projects
{% if not g.user_is_admin and not g.user_without_limits %}
    <small>(limited to {{config.MAX_UPLOADS}})</small>
{% endif %}
  </h1>
  <hr/>
  <dashboard></dashboard>
{% endblock %}

{% block js %}
  <script>
    window.config = {
      TIME_MAX: {{config.TIME_MAX}},
      TIME_MIN: {{config.TIME_MIN}},
    }
  </script>
  <script src="{{url_for('static', filename='vue-router.min.js')}}"></script>
  <script src="{{url_for('static', filename='vuex.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard.js', v=config.VERSION)}}"></script>
{% endblock %}
