{% extends "layout.jinja" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
  <h1>
    Your Submissions
    <small>
{% if g.user_is_admin %}
      (Admin Mode - auto-approve enabled, no bar at the bottom)
{% elif g.user_without_limits %}
      (No-Limits Mode - auto-approve enabled)
{% else %}
      (limited to {{config.MAX_UPLOADS}})
{% endif %}
    </small>
  </h1>
  <hr/>
  <div class="alert alert-secondary" role="alert">
    If uploading fails without an error message, please try disabling
    your ad blocker. It is known that some ad blockers will interfere
    with uploads to the info-beamer CDN.
  </div>
  <dashboard></dashboard>
{% endblock %}

{% block js %}
  <script>
    window.config = {
      TIME_MAX: {{config.TIME_MAX}},
      TIME_MIN: {{config.TIME_MIN}},
    }
  </script>
  <script src="{{url_for('static', filename='vue-router.min.js')}}"></script>
  <script src="{{url_for('static', filename='vuex.min.js')}}"></script>
  <script src="{{url_for('static', filename='dashboard.js', v=VERSION)}}"></script>
{% endblock %}
