{% extends "layout.jinja" %}
{% block title %}FAQ{% endblock %}
{% set body_class="faq" %}

{% block body %}
  <h1>FAQ</h1>
  <hr/>
  <h3>What is this?</h3>
  <p>
    You can upload your own short video or image and they will appear
    on the infobeamer stream and during breaks on some stages of this
    event. The purpose is to share an interesting meetup or project you
    are doing during this event.
  </p>
  <h3>What can I upload?</h3>
  <p>
    Please submit something actionable (there must be a assembly/village
    name/eventphone number, anything!) and with a single purpose like
    one project, an interesting service you're running this event, a
    talk by you or side events like key signing parties or meetups.
    <b>
    Your submission must include information on how to reach you on
    or during this event, so anyone interested can meet or talk to you
    about your project. Do not just dump a link!
    </b>
    Right now there's a limit of 5 uploads per user.
  </p>
  <p>
    An exception will be made for event announcements, these do not need
    contact details <b>on this event</b>. They will however still require
    to have some sort of contact info on there (for example, a web page
    link).
  </p>
  <p>
    Memes or other unactionable content will be rejected as they might
    be funny once but then just take up space that's better used to
    share interesting projects. We will also reject any content related
    to cryptocurrencies, NFTs or such,
    <b>
      duplicate content relating to the same project
    </b>
    as well as obviously AI-generated content.
  </p>
  <h3 id='rules'>Why was my content rejected?</h3>
  <p>
    See the "What can I upload" answer above. If in doubt, see "Where
    can i get in contact" below.
  </p>
  <h3 id='signup'>Who can upload?</h3>
  <p>
    That depends on which SSO providers are available and which one you
    select. For most SSO providers, no specific requirements have to be
    met apart from "account has to exist". If there are more requirements,
    they are listed below.
  </p>
  <h4>Github</h4>
  <p>
    A github account created at least one month ago or with at least 10
    followers is required.
  </p>
  <h3>What formats are supported?</h3>
  <p>
    Videos must be encoded in <b>H264</b> in a MP4 container. Every
    slot is <b>10 seconds</b> and longer videos cannot be uploaded.
    Maximum resolution is 1920x1080 (FullHD) with 60fps.
  </p>
  <p>
    Images must use <b>JPEG</b> and must be exactly <b>1920x1080</b> in
    size.
  </p>
  <p>
    The bottom 40 pixels of your content will be overlayed by a bar
    showing your github username and will therefore not be visible.
  </p>
  <h3>Why is my content not visible?</h3>
  <p>
    Content will be moderated by multiple people. It might take a
    moment. If your content has not been reviewed after 12 hours, please
    contact us (see below).
  </p>
  <h3>Where can I get in contact?</h3>
  <p>
{{ CONTACT }}
  <p>
{% endblock %}

{% block js %}
  <script>
    const hash = window.location.hash.replace('#', '')
    if (hash.length > 0) {
      const e = document.getElementById(hash)
      if (e) {
        e.classList.add("faq-highlight")
      }
    }
  </script>
{% endblock %}
