{% extends "layout.jinja" %}
{% block title %}Infobeamer-CMS{% endblock %}

{% block body %}
  <h1>Share your Content with others</h1>
  <p>
    You can upload short videos (max 10 seconds) or images to show your Content, installation, talk, meeting or anything else
    that might be interesting to other visitors.
  </p>
  {% if g.user_is_admin %}
  <h2>Awaiting Moderation</h2>
  <list-unmoderated></list-unmoderated>
  {% endif %}
  <h2>Live Submissions <small>(Other content may be under moderation)</small></h2>
  <hr/>
  <list-active></list-active>
{% endblock %}

{% block js %}
  <script src="{{url_for('static', filename='index.js', v=VERSION)}}"></script>
{% endblock %}
