<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Infobeamer-CMS{% endblock %} - Share your projects</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='event-logo.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css', v=config.VERSION)}}">
    {% block head %}
    {% endblock %}
  </head>
  <body class='{{body_class}}'>
    <nav class="navbar navbar-default navbar-expand">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src='{{url_for('static', filename='event-logo.png')}}'>
          </a>
          <a class="navbar-brand" href="/">
            Share your projects
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li {%if request.path=="/"%}class="active"{%endif%}><a href="/">
            All projects
          </a></li>
          <li {%if request.path=="/faq"%}class="active"{%endif%}><a href="/faq">
            FAQ / Contact
          </a></li>
          <li><a href="{{ url_for("slideshow") }}">Slideshow</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.user %}
            <li {%if request.path=="/dashboard"%}class="active"{%endif%}><a href="/dashboard">
              {{g.user}}'s projects
            </a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login / Sign up using Github</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container" id='main'>
      <busy-indicator></busy-indicator>
      {% if start_time %}
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Submissions are not yet open</h4>
          <p class="mb-0">You will be able to submit content starting <span style="font-weight: bolder;">{{ start_time }} UTC</span></p>
        </div>
      {% endif %}
      {% block body %}
      {% endblock %}
      <hr/>
      <div class='text-centered'>
        <p>
          Share your projects via info-beamer.
          <a href='/faq'>FAQ / Contact</a>.
        </p>
        <p>
          Screens run <a href='https://info-beamer.com'><img src="/static/logo.png">info-beamer</a> on Raspberry Pis.
        <br/><br/>
      </div>
    </div>
    <script src="{{url_for('static', filename='vue.min.js')}}"></script>
    <script src="{{url_for('static', filename='vue-resource.min.js')}}"></script>
    <script src="{{url_for('static', filename='notyf.min.js')}}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
