<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Infobeamer-CMS{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='event-logo.png') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='notyf.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css', v=VERSION)}}">
    {% block head %}
    {% endblock %}
  </head>
  <body class='{{body_class}}'>
    <nav class="navbar navbar-default navbar-expand">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for("index") }}">
            <img src="{{url_for('static', filename='event-logo.png')}}">
          </a>
          <a class="navbar-brand" href="{{ url_for("index") }}">
            Share your content
          </a>
        </div>
        <ul class="nav navbar-nav">
          <li {%if request.path==url_for("index")%}class="active"{%endif%}><a href="{{ url_for("index") }}">
            All content
          </a></li>
          <li {%if request.path==url_for("faq")%}class="active"{%endif%}><a href="{{ url_for("faq") }}">
            FAQ / Contact
          </a></li>
          <li><a href="{{ url_for("slideshow") }}">Slideshow</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if g.userid %}
            <li {%if request.path==url_for("dashboard")%}class="active"{%endif%}><a href="{{ url_for("dashboard") }}">
              {{g.username}}'s content
            </a></li>
            <li><a href="{{ url_for("logout") }}">Logout</a></li>
          {% else %}
            {% for slug, name in sso_providers.items() %}
              <li><a href="{{ url_for("login", provider=slug) }}"{% if slug==default_sso_provider %} style="font-weight: bolder;"{% endif %}>Login / Sign up using {{ name }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container" id='main'>
      <busy-indicator></busy-indicator>
      {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
      {% endfor %}
      {% if start_time %}
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Submissions are not yet open</h4>
          <p class="mb-0">You will be able to submit content starting <span style="font-weight: bolder;">{{ start_time }} UTC</span></p>
        </div>
      {% endif %}
      {% block body %}
      {% endblock %}
      <hr/>
      <div class='text-centered'>
        <p>
          <a href="{{ url_for("faq") }}">FAQ / Contact</a> |
          <a href="{{ source_url }}">This project is open source</a> |
          Screens run <a href="https://info-beamer.com"><img src="{{ url_for("static", filename="logo.png") }}">info-beamer</a> on Raspberry Pis.
        <br/><br/>
      </div>
    </div>
    <script src="{{url_for('static', filename='vue.min.js')}}"></script>
    <script src="{{url_for('static', filename='vue-resource.min.js')}}"></script>
    <script src="{{url_for('static', filename='notyf.min.js')}}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
