{% extends "layout.jinja" %}
{% block title %}Infobeamer-CMS{% endblock %}

{% block body %}
  <h1>Outside the configured event time.</h1>
  <p>
    You are not allowed to login currently. Logging in is only allowed
    during the configured event times.
  </p>
{% endblock %}
